<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>WineProject</display-name>
  <filter>
    <filter-name>productList</filter-name>
    <filter-class>Filter.productList</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>productList</filter-name>
    <url-pattern>*.jsp</url-pattern>
    <url-pattern>*.do</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>MemberFilter</filter-name>
    <filter-class>Filter.MemberFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>MemberFilter</filter-name>
    <url-pattern>/MemberService</url-pattern>
    <url-pattern>/orders/checkout.do</url-pattern>
    <url-pattern>/insertDiscussion.jsp</url-pattern>
    <url-pattern>/discussion/insertDiscussion</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>AdminFilter</filter-name>
    <filter-class>Filter.AdminFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AdminFilter</filter-name>
    <url-pattern>/wine_admin/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>struts2</filter-name>
    <filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>struts2</filter-name>
    <url-pattern></url-pattern>
  </filter-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>DiscussionList.do</servlet-name>
    <servlet-class>discussion.controller.DiscussionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DiscussionList.do</servlet-name>
    <url-pattern>/DiscussionList.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>insertReply</servlet-name>
    <servlet-class>reply.controller.ReplyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>insertReply</servlet-name>
    <url-pattern>/reply.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DiscussionManagment</servlet-name>
    <servlet-class>discussion.controller.DiscussionManagment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DiscussionManagment</servlet-name>
    <url-pattern>/wine_admin/DiscussionManagment</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ReplyManagment</servlet-name>
    <servlet-class>reply.controller.ReplyManagment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReplyManagment</servlet-name>
    <url-pattern>/wine_admin/ReplyManagment</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DisplayProducts</servlet-name>
    <servlet-class>product.controller.DisplayProducts</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayProducts</servlet-name>
    <url-pattern>/product/DisplayProducts.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>memberRegister</servlet-name>
    <servlet-class>member.controller.register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>memberRegister</servlet-name>
    <url-pattern>/product/memberRegister.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>login</servlet-name>
    <servlet-class>login.controller.login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>login</servlet-name>
    <url-pattern>/product/login.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MemberServlet</servlet-name>
    <servlet-class>member.controller.MemberServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberServlet</servlet-name>
    <url-pattern>/wine_admin/mem</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Disselect</servlet-name>
    <servlet-class>product.controller.DisplayProducts</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Disselect</servlet-name>
    <url-pattern>/product/selectrecipeaddfoodfidname.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MemberService</servlet-name>
    <servlet-class>member.controller.MemberService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberService</servlet-name>
    <url-pattern>/MemberService</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>setselectallfood</servlet-name>
    <servlet-class>food_set.controller.food_all</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>setselectallfood</servlet-name>
    <url-pattern>/food/setselectall.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>shoppingCart</servlet-name>
    <servlet-class>product.controller.BuyWine</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>shoppingCart</servlet-name>
    <url-pattern>/product/shoppingCart.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>foodinRegister</servlet-name>
    <servlet-class>food_set.controller.foodserver</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>foodinRegister</servlet-name>
    <url-pattern>/product/foodin.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ingin</servlet-name>
    <servlet-class>food_set.controller.ingredientserver</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ingin</servlet-name>
    <url-pattern>/product/ingin.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>saucein</servlet-name>
    <servlet-class>food_set.controller.sauceserver</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>saucein</servlet-name>
    <url-pattern>/product/saucein.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>advertisements</servlet-name>
    <servlet-class>ads.controller.AdsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>advertisements</servlet-name>
    <url-pattern>/product/advertisements.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AjaxProducts</servlet-name>
    <servlet-class>ads.controller.AjaxSearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjaxProducts</servlet-name>
    <url-pattern>/product/ajaxProducts.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdsToDb</servlet-name>
    <servlet-class>ads.controller.AdsToDbServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdsToDb</servlet-name>
    <url-pattern>/product/adsToDb.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>setfoodinsset</servlet-name>
    <servlet-class>food_set.controller.food_set_all</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>setfoodinsset</servlet-name>
    <url-pattern>/wine_admin/food.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>setinRegister</servlet-name>
    <servlet-class>food_set.controller.register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>setinRegister</servlet-name>
    <url-pattern>/wine_admin/setin.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>adminBoard</servlet-name>
    <servlet-class>admin_board.controller.admin_board</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminBoard</servlet-name>
    <url-pattern>/wine_admin/admin_board.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ProductMaintain</servlet-name>
    <servlet-class>product.controller.ProductMaintain</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductMaintain</servlet-name>
    <url-pattern>/wine_admin/Maintain</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>adminLogin</servlet-name>
    <servlet-class>adminLogin.controller.adminLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminLogin</servlet-name>
    <url-pattern>/admin/adminlogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>OrdersServlet</servlet-name>
    <servlet-class>orders.controller.OrdersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrdersServlet</servlet-name>
    <url-pattern>/orders/checkout.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>foodsetaab</servlet-name>
    <servlet-class>food_set.controller.food_set_all</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>foodsetaab</servlet-name>
    <url-pattern>/food/all/sat.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateProduct</servlet-name>
    <servlet-class>product.controller.UpdateProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateProduct</servlet-name>
    <url-pattern>/wine_admin/UpdateProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>InsertProduct</servlet-name>
    <servlet-class>product.controller.InsertProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertProduct</servlet-name>
    <url-pattern>/wine_admin/InsertProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteWine</servlet-name>
    <servlet-class>product.controller.DeleteWine</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteWine</servlet-name>
    <url-pattern>/product/DeleteWine</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>set_timing_sales</servlet-name>
    <servlet-class>timing_sales.controller.Timing_Sales_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>set_timing_sales</servlet-name>
    <url-pattern>/wine_admin/set_timing_sales</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>fbajaxlogin</servlet-name>
    <servlet-class>member.controller.fbajaxlogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>fbajaxlogin</servlet-name>
    <url-pattern>/fbajaxlogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>smschecktomail</servlet-name>
    <servlet-class>member.controller.smschecktomail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>smschecktomail</servlet-name>
    <url-pattern>/product/smschecktomail.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ModifyBuyWine</servlet-name>
    <servlet-class>product.controller.ModifyBuyWine</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifyBuyWine</servlet-name>
    <url-pattern>/product/ModifyBuyWine</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>OrdersAdminServlet</servlet-name>
    <servlet-class>orders.controller.OrdersAdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrdersAdminServlet</servlet-name>
    <url-pattern>/wine_admin/ordersadmin.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>listOneMemPass</servlet-name>
    <servlet-class>member.controller.listOneMemPass</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>listOneMemPass</servlet-name>
    <url-pattern>/listOneMemPass</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>listOneMem</servlet-name>
    <servlet-class>member.controller.listOneMem</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>listOneMem</servlet-name>
    <url-pattern>/listOneMem</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>insertDiscussion</servlet-name>
    <servlet-class>discussion.controller.insertDiscussion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>insertDiscussion</servlet-name>
    <url-pattern>/discussion/insertDiscussion</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteShoppingCart</servlet-name>
    <servlet-class>shoppingCart.controller.DeleteShoppingCart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteShoppingCart</servlet-name>
    <url-pattern>/product/DeleteShoppingCart</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>mempic</servlet-name>
    <servlet-class>member.controller.MenberPic</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>mempic</servlet-name>
    <url-pattern>/wine_admin/mempic</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MemberPwServlet</servlet-name>
    <servlet-class>member.controller.MemberPwServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberPwServlet</servlet-name>
    <url-pattern>/member/memberpw.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MemberUpdate</servlet-name>
    <servlet-class>member.controller.MemberUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberUpdate</servlet-name>
    <url-pattern>/memberCRUD/MemberUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MenberPicByUser</servlet-name>
    <servlet-class>member.controller.MenberPicByUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MenberPicByUser</servlet-name>
    <url-pattern>/memberCRUD/MenberPicByUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>shipping_set</servlet-name>
    <servlet-class>shipping_set.controller.Shipping_setServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>shipping_set</servlet-name>
    <url-pattern>/shipping_set/.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Coupon_setServlet</servlet-name>
    <servlet-class>coupon_set.controller.Coupon_setServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Coupon_setServlet</servlet-name>
    <url-pattern>/couponset/couponsetadmin.do</url-pattern>
  </servlet-mapping>
  
  <error-page>
    <error-code>404</error-code>
    <location>/NotFound.jsp</location>
  </error-page>
  
</web-app>