@CHARSET "UTF-8";

div{
	border: 1px silver solid;
	float:left;
}

.bar { clear:both; }
.mem_in_title {
	margin: 25px auto;
	width:600px;
}
.mem_in_coupons {
	width:600px;
}
.mem_in_inner {
	float:left;
	margin: 10px 10px;
	width:280px;
}
.mem_in_orders {
	width:600px;
}
.mem_in_outer {
	width:640px;
}
