@CHARSET "UTF-8";
table a {
	text-decoration:none;
}

td {
	border: 1px silver solid;
}

.p_innerTable {
	width: 480px;
}
.p_outerTable {
	border: 1px silver solid;
	margin: 15px auto;
}
.p_pic {
	width:150px;
}
.pageSwitch {
	margin-left:170px;
}
.searchResult {
	margin: 25px auto;
	width: 640px;
}