@CHARSET "UTF-8";
div {
	border:1px solid silver;
}

.bar {
	clear: both;
}
.p_content{
	margin: 25px auto;
	padding:0px 0px;
	width:640px;
	
}
.p_data {
	margin: 0px 0px;
	float: left;
	width: 480px;
}
.p_info1 {
	
}
.p_info2 {
	
}
.p_intro {
	padding:15px;
}
.p_pics {
	margin: 0px 0px;
	float: left;
	width: 150px;
}
.p_purchase{
}
.p_title {
	
}